    * {
        margin: 0;
        padding: 0;
    }

.ak:hover { color: black;}

/* Add this to your global CSS file or module */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;             /* Chrome, Safari, Opera */
}


.dropdown-hover:hover .dropdown-menu-custom {
  display: block;
}

.dropdown-menu-custom {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  min-width: 180px;
  z-index: 10;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0.5rem 0;
}

.dropdown-item-custom {
  display: block;
  padding: 0.5rem 1rem;
  color: black;
  text-decoration: none;
}

.dropdown-item-custom:hover {
  background-color: #f2f2f2;
}

